@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

input, button, textarea {
  font-family: inherit;
}

img {
  vertical-align: top;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Roboto", sasn-serif;
}

.section__container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.section {
  background: url(../img/bg_section--one.jpg) center no-repeat;
  height: 100vh;
}

.section__title {
  max-width: 469px;
  font-size: 60px;
  padding-top: 60px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

.section__title--spanYellow span:first-child {
  color: #FFC600;
}

.section__title--spanBig span {
  font-size: 50px;
}

.section .nav {
  padding-top: 30px;
}

.section .nav__link {
  color: #FFC600;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  margin-right: 20px;
}

.section .nav__link:last-child {
  margin-right: 0;
}

.section .nav__link:hover {
  color: #fff;
  border-bottom: 1px solid #FFC600;
}

.section--two {
  padding: 60px 0 40px;
  height: auto;
  background: #fff;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.about__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
}

.about__title:before {
  color: #717171;
  content: 'About';
  display: block;
  font-size: 50px;
}

.about__info, .about__title {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about__info {
  padding-left: 15px;
  position: relative;
}

.about__info::before {
  background-color: #717171;
  content: '';
  display: block;
  height: calc(100% - 30px);
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
}

.about__info .about--text {
  font-style: italic;
  font-size: 16px;
  color: #1F1F1F;
  margin-bottom: 15px;
}

.about__info .about--texts {
  color: #717171;
  font-size: 16px;
  line-height: 1.4;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.info__item {
  -ms-flex-preferred-size: calc(100%/3);
      flex-basis: calc(100%/3);
  text-align: center;
  margin-right: 30px;
}

.info__item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #FFC600;
  background: #E8E8E8;
  margin-bottom: 20px;
}

.info__item__icon__icons {
  width: 30px;
  height: 30px;
}

.info__title {
  font-size: 18px;
  color: #1f1f1f;
  font-weight: normal;
  margin-bottom: 15px;
}

.info__text {
  font-style: italic;
  font-size: 12px;
  color: #717171;
}

.info__text p {
  margin-bottom: 15px;
}

.section--three {
  padding: 60px 0 20px;
  height: auto;
  background: #fff;
}

.section--three .section__subtitle {
  font-size: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 700;
}

.section--three .section__subtitle::after {
  background-color: #717171;
  content: '';
  display: block;
  height: 1px;
  margin-left: auto;
  width: 50%;
}

.section--three .section__btn {
  color: #1f1f1f;
  margin-top: 20px;
  margin-bottom: 30px;
}

.section--three .section__btn__link {
  margin-right: 15px;
  background-color: #fff;
  outline: none;
}

.section--three .section__btn__link:after {
  display: none;
  content: '';
  height: 1px;
  width: 50%;
  margin: 0 auto;
  background-color: #FFC600;
}

.section--three .section__btn__link:hover::after {
  display: block;
}

.section--three .section__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section--three .section__works__item {
  -ms-flex-preferred-size: calc( 100%/4);
      flex-basis: calc( 100%/4);
  position: relative;
  overflow: hidden;
  height: 268px;
}

.section--three .section__works__item__img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section--four {
  height: auto;
  background: #ffffff;
  padding: 60px 0 30px;
}

.section--four .section__subtitles {
  font-size: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 700;
  margin-bottom: 30px;
}

.section--four .section__subtitles::after {
  background-color: #717171;
  content: '';
  display: block;
  height: 1px;
  margin-left: auto;
  width: 50%;
}

.section--four .section__text {
  font-style: italic;
  font-size: 16px;
  margin-bottom: 16px;
}

.section--four .section__texts {
  font-size: 14px;
  color: #717171;
  line-height: 1.4;
  margin-bottom: 30px;
}

.section--four .strategic__name span:first-child {
  color: #1F1F1F;
}

.section--four .strategic__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.section--four .strategic__item__link:first-child {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-right: 30px;
}

.section--four .strategic__item__link:nth-child(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=style.css.map */