@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

input, button, textarea {
  font-family: inherit;
}

img {
  vertical-align: top;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Roboto", sasn-serif;
}

.section__container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.section {
  background: url(../img/bg_section--one.jpg) center no-repeat;
  height: 100vh;
}

.section__title {
  max-width: 469px;
  font-size: 60px;
  padding-top: 60px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

.section__title--spanYellow span:first-child {
  color: #FFC600;
}

.section .nav {
  padding-top: 30px;
}

.section .nav__link {
  color: #FFC600;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  margin-right: 20px;
}

.section .nav__link:last-child {
  margin-right: 0;
}

.section .nav__link:hover {
  color: #fff;
  border-bottom: 1px solid #FFC600;
}

.section--two {
  padding: 60px 0 40px 0;
  background: #fff;
  height: auto;
}

.section--two .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section--two .about__info {
  -ms-flex-preferred-size: 585px;
      flex-basis: 585px;
  margin-bottom: 60px;
}

.section--two .about__info:nth-child(2):before {
  content: "";
  background: #815555;
  width: 1px;
  float: left;
  height: 191px;
  margin-right: 29px;
}

.section--two .about__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
}

.section--two .about__title:before {
  content: 'About';
  display: block;
  color: #717171;
  font-size: 50px;
}

.section--two .about__text {
  font-style: italic;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 14px;
  color: #1F1F1F;
}

.section--two .about__texts {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  color: #717171;
}

.section--two .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.section--two .info__item {
  width: 33.33333%;
  text-align: center;
}

.section--two .info__item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #FFC600;
  background: #E8E8E8;
  margin-bottom: 15px;
}

.section--two .info__item__icon__icons {
  width: 30px;
  height: 30px;
}

.section--two .info__title {
  font-size: 18px;
  color: #1F1F1F;
  font-weight: normal;
  margin-bottom: 15px;
}

.section--two .info__text {
  font-style: italic;
  font-size: 12px;
  color: #717171;
}
/*# sourceMappingURL=style.css.map */