@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

@import '_var.sass'
*
  font-family: "Roboto", sasn-serif

// container
.section__container
  max-width: 1200px
  margin: 0 auto
  width: 100%
  padding: 0 15px

  // header
.section
  background: url(../img/bg_section--one.jpg)center no-repeat
  height: 100vh
  &__title
    max-width: 469px
    padding-left: 15px
    padding-top: 60px



