@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

@import '_var.sass'
*
  font-family: "Roboto", sasn-serif

// container
.section__container
  max-width: 1200px
  margin: 0 auto
  width: 100%
  padding: 0 15px
  @media (max-width: 1200px)
    max-width: 768px
  // header
.section 
  background: url(../img/bg_section--one.jpg) center  no-repeat
  background-size: cover; 
  height: 100vh
  @media (max-width: 1200px)
    background: url(../img/bg_section--one.jpg) left  no-repeat
  &__title
    max-width: 469px
    +adaptiv-font(60, 36)
    padding-top: 60px
    font-weight: 700
    line-height: 1
    color: #fff
    &--spanYellow span:first-child
      color: #FFC600
    &--spanBig span
      font-size: 50px
  .nav
    display: flex
    padding-top: 30px
    @media (max-width: 767px)
      flex-direction: column
    &__link
      color: #FFC600
      font-weight: normal
      font-size: 18px
      line-height: 1.4
      margin-right: 20px
      @media (max-width: 767px)
        margin-top: 10px
      &:last-child
        margin-right: 0
      &:hover
        color: #fff
        border-bottom: 1px solid #FFC600

// section--two
.section--two
  padding: 60px 0 40px
  height: auto
  background: #fff
  @media (max-width: 1200px)
    padding: 60px 0 10px
.about
  display: flex
  align-items: center
  margin-bottom: 60px
  @media (max-width: 767px)
    flex-wrap: wrap
  &__title
    font-size: 80px
    font-weight: 700
    line-height: 1
    color: #1F1F1F
    @media (max-width: 1200px)
      font-size: 50px
      @media (max-width: 767px)
        margin-bottom: 20px
    &:before
      color: #717171
      content: 'About'
      display: block
      font-size: 50px
      @media (max-width: 1200px)
        font-size: 30px
  &__info, &__title
    flex-basis: 50%
    @media (max-width: 767px)
      flex-basis: 100%
  &__info
    padding-left: 15px
    position: relative
    &::before
      background-color: #717171
      content: ''
      display: block
      height: calc(100% - 30px)
      left: 0
      position: absolute
      top: 50%
      transform: translateY(-50%)
      width: 1px
      @media (max-width: 767px)
        display: none
    .about--text
      font-style: italic
      font-size: 16px
      color: #1F1F1F
      margin-bottom: 15px
      @media (max-width: 1200px)
        font-size: 14px
    .about--texts
      color: #717171
      font-size: 14px
      line-height: 1.4
      @media (max-width: 1200px)
        font-size: 12px
.info
  display: flex
  margin-bottom: 20px
  @media (max-width: 767px)
    flex-wrap: wrap
  &__item
    flex-basis: calc(100%/3)
    text-align: center
    margin-right: 30px
    @media (max-width: 1200px)
      margin-right: 10px
      @media (max-width: 767px)
        flex-basis: 100%
    &__icon
      display: flex
      justify-content: center
      align-items: center
      margin: 0 auto
      width: 50px
      height: 50px
      border-radius: 50px
      border: 1px solid #FFC600
      background: #E8E8E8
      margin-bottom: 20px
      &__icons
        width: 30px
        height: 30px
  &__title
    font-size: 18px
    color: #1f1f1f
    font-weight: normal
    margin-bottom: 15px
  &__text
    font-style: italic
    font-size: 12px
    color: #717171
  &__text p
    margin-bottom: 15px

// section--three
.section--three
  padding: 60px 0 30px
  height: auto
  background: #fff
  @media (max-width: 767px)
    padding: 60px 0 0 0
  .section__subtitle
    font-size: 30px
    width: max-content
    font-weight: 700
    &::after
      background-color: #717171
      content: ''
      display: block
      height: 1px
      margin-left: auto
      width: 50%
  .section__btn
    color: #1f1f1f
    margin-top: 20px
    margin-bottom: 30px
    &__link
      margin-right: 15px
      background-color: #fff
      outline: none
      @media (max-width: 767px)
        margin-top: 10px
      &:after
        display: none
        content: ''
        height: 1px
        width: 50%
        margin: 0 auto
        background-color: #FFC600
    &__link:hover::after
      display: block
  .section__works
    display: flex
    flex-wrap: wrap
    &__item
      flex-basis: calc( 100%/4)
      position: relative
      overflow: hidden
      height: 268px
      @media (max-width: 1200px)
        height: 169px
        @media (max-width: 767px)
          flex-basis: 100%
      &__img
        height: 100%
        position: absolute
        left: 50%
        top: 0
        transform: translateX(-50%)
        @media (max-width: 767px)
          width: 190px
        // setion--four
.section--four
  height: auto
  background: #ffffff
  padding: 60px 0 30px
  .section__subtitles
    font-size: 30px
    width: max-content
    font-weight: 700
    margin-bottom: 30px
    &::after
      background-color: #717171
      content: ''
      display: block
      height: 1px
      margin-left: auto
      width: 50%
  .section__text
    font-style: italic
    font-size: 16px
    margin-bottom: 16px
    @media (max-width: 1200px)
      font-size: 14px
  .section__texts
    font-size: 14px
    color: #717171
    line-height: 1.4
    margin-bottom: 30px
    @media (max-width: 1200px)
      margin-bottom: 60px
      font-size: 12px
  .strategic__name span:first-child
    color: #1F1F1F
  .strategic__item
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 30px
    @media (max-width: 767px)
      flex-wrap: wrap
    &:nth-child(2)
      flex-direction: row-reverse
      text-align: right
      img
        margin-right: 0
    &:nth-child(3)
      margin-bottom: 0
    &__link:first-child
      width: 30%
      margin-right: 30px
      @media (max-width: 1200px)
        width: 50%
        @media (max-width: 767px)
          width: 100%
    &__link:nth-child(2)
      align-self: center
      margin-right: 30px
      @media (max-width: 1200px)
        margin-right: 15px
  .strategic__name
    font-size: 30px
    color: #1F1F1F
    font-weight: 700
    @media (max-width: 767px)
      text-align: center
  .strategic__title
    font-size: 16px
    font-style: italic
    line-height: 1.4
    color: #1F1F1F
    margin-bottom: 15px
    @media (max-width: 1200px)
      font-size: 14px
      @media (max-width: 767px)
        text-align: center
  .strategic__text
    font-size: 14px
    color: #717171
    font-weight: 
    line-height: 1.4
    @media (max-width: 1200px)
      font-size: 12px
      @media (max-width: 767px)
        text-align: center

    // section--five
.section--revers
  background: url(../img/bg_section--five.jpg )center no-repeat
  background-size: cover; 
  padding: 60px 0 0
  @media (max-width: 1200px)
    padding: 60px 0 15px
  height: auto
  color: #FAFAFA
  .section__subtitless
    font-size: 30px
    font-weight: 700
    width: max-content
    margin-bottom: 64px
    @media (max-width: 767px)
      margin-bottom: 40px
    &::after
      background-color: #fff
      content: ''
      display: block
      height: 1px
      margin-left: auto
      width: 50%
.services
  display: flex
  flex-wrap: wrap
  &__item
    flex-basis: calc(50% - 15px)
    margin-bottom: 30px
    margin-right: 30px
    @media (max-width: 1200px)
      flex-basis: 100%
      margin-right: 0
      margin-bottom: 15px
    &:nth-child(even)
      margin-right: 0
    &__title
      font-size: 18px
      font-weight: 700
      line-height: 1
      margin-bottom: 15px
      @media (max-width: 767px)
        text-align: center
    &__text
      font-size: 12px
      line-height: 1
      font-weight: normal
      @media (max-width: 767px)
        text-align: center

  // section--six
.section--six
  padding: 60px 0 30px 
  background: #ffffff
  height: auto
  .section__subtitles
    font-size: 30px
    width: max-content
    font-weight: 700
    margin-bottom: 25px
    &::after
      background-color: #717171
      content: ''
      display: block
      height: 1px
      margin-left: auto
      width: 50%
  .section__text
    font-style: italic
    line-height: 1.4
    font-size: 16px
    font-weight: 700
    margin-bottom: 15px
    color: #1F1F1F
    @media (max-width: 1200px)
      font-size: 14px
  .section__texts
    font-weight: normal
    color: #717171
    line-height: 1.4
    font-size: 14px
    margin-bottom: 60px
    @media (max-width: 1200px)
      font-size: 12px
  .team
    display: flex
    justify-content: space-between
    @media (max-width: 767px)
      flex-wrap: wrap
    .team__item
      text-align: center
      flex-basis: calc( 100%/4 )
      @media (max-width: 767px)
        flex-basis: 100%
      &__img
        margin-bottom: 15px
      &__name
        font-size: 16px
        font-weight: 700
        color: #1F1F1F
        line-height: 1.4
      &__prof
        font-size: 14px
        font-style: italic
        color: #717171
        line-height: 1.4
        @media (max-width: 767px)
          margin-bottom: 10px

// section--seven
.section--seven
  background: #1F1F1F
  padding: 60px 0 15px 0
  .section__subtitles
    font-size: 30px
    font-weight: 700
    width: max-content
    margin-bottom: 60px
    &::after
      background-color: #fff
      content: ''
      display: block
      height: 1px
      margin-left: auto
      width: 50%
  .test
    display: flex
    align-items: center
    @media (max-width: 767px)
      flex-wrap: wrap
    &__item:first-child
      flex-basis: 60%
      text-align: left
      @media (max-width: 767px)
        flex-basis: 100%
      .section__text
        font-style: italic
        font-size: 16px
        font-weight: 700
        line-height: 1.4
        margin-bottom: 15px
      .section__texts
        font-size: 14px
        line-height: 1.4
        font-weight: normal
        @media (max-width: 767px)
          margin-bottom: 10px
    &__item
      text-align: center
      flex-basis: 40%
      &__photo
        border-radius: 50%
        width: 127px
        height: 127px
        border: 2px solid #FFA800
        margin-bottom: 15px
      &__name
        font-size: 16px
        font-weight: 700
        line-height: 1.4
      &__prof
        font-style: italic
        font-size: 14px
        line-height: 1.4
        color: #FAFAFA
// section--eight
.section--eight
  padding: 60px 0 30px
  background: #ffffff
  height: auto
  .section__subtitles
    font-size: 30px
    width: max-content
    font-weight: 700
    margin-bottom: 60px
    &::after
      background-color: #717171
      content: ''
      display: block
      height: 1px
      margin-left: auto
      width: 50%
  .blog
    display: flex
    &__parth
      flex-basis: 30%
      @media (max-width: 1200px)
        flex-basis: 138px
      &__nav__link
        font-size: 18px
        color: #1F1F1F
        display: block
        line-height: 1.4
        margin-bottom: 15px
        font-weight: normal
        @media (max-width: 1200px)
          margin-bottom: 10px
          font-size: 14px
        &:active
          color: #FFC600
    &__parth__nav
      padding-left: 55px
      @media (max-width: 1200px)
        padding-left: 0px
    &__parth__list
      flex-basis: 70%
      display: flex
      flex-wrap: wrap
      @media (max-width: 1200px)
        flex-basis: calc(100% - 138px)
      &__item
        flex-basis: calc(100%/3)
        margin-bottom: 60px
        @media (max-width: 1200px)
          margin-bottom: 30px
          @media (max-width: 767px)
            flex-basis: 100%
        &:nth-last-child(-n+3)
          margin-bottom: 0px
        &__imgs
          overflow: hidden
          max-width: 180px
          margin: 0 auto
          height: 206px
          position: relative
          &__img
            position: absolute
            height: 100%
            top: 0
            left: 50%
            transform: translateX(-50%)
        &__info
          max-width: 180px
          margin: 0 auto
          &__data
            margin-top: 5px
            font-size: 18px
            line-height: 1.4
            font-weight: normal
            color: #FFC600
            margin-bottom: 15px
          &__title
            font-weight: 700
            font-size: 14px
            color: #1F1F1F
            line-height: 1.4
            margin-bottom: 5px
          &__text
            font-style: italic
            font-size: 12px
            line-height: 1.4
            color: #717171
// section--nine
.section--nine
  padding: 0
  background: #2046B3
  height: 100%
  max-width: 100%
  display: flex
  flex-wrap: wrap
  position: relative;
  &::before
    left: 0
    top: 0
    height: 100%
    position: absolute
    display: block
    content: ""
    background: url(../img/map.jpg) center  no-repeat
    background-size: cover
    width: 50%
  &::after
    position: absolute
    top: 50%
    left: 25%
    transform: translate(-50%, -50%)
    content: "Sublime"
    background: #1F1F1F
    border-radius: 50%
    border: 2px solid #FFC600
    font-size: 14px
    text-align: center
    font-weight: 700
    width: 70px
    height: 70px
    justify-content: center
    align-items: center
    display: flex
  .footer__info
    position: relative
    padding: 60px 0 30px calc(50% + 15px)
    .section__subtitless
      margin-bottom: 34px
    .footer__form
      display: flex
      flex-wrap: wrap
      justify-content: center;
      margin-bottom: 60px
      
      &__name
        flex-basis: 100%
        padding: 10px 10px 10px
        background: #2046B3
        color: #FAFAFA
        border-radius: 5px
        border: 2px solid #FAFAFA
        margin-bottom: 25px
        &::placeholder
          color: #FAFAFA
          line-height: 1.4
          font-size: 16px
          font-weight: normal
      &__item
        flex-basis: calc( 50% - 20px )
        margin-right: 35px
        padding: 10px 10px 10px
        background: #2046B3
        border-radius: 5px
        color: #FAFAFA
        border: 2px solid #FAFAFA
        margin-bottom: 25px
        @media (max-width: 1200px)
          flex-basis: 100%
          margin-right: 0
        &::placeholder
          color: #FAFAFA
          line-height: 1.4
          font-size: 16px
          font-weight: normal
        &:nth-child(3)
          margin-right: 0px
      &__msg
        flex-basis: 100%
        height: 86px
        resize: none
        padding: 10px 10px 10px
        background: #2046B3
        color: #FAFAFA
        border-radius: 5px
        border: 2px solid #FAFAFA
        margin-bottom: 25px
        &::placeholder
          color: #FAFAFA
          line-height: 1.4
          font-size: 16px
          font-weight: normal
      &__btn
        padding: 10px 0
        flex-basis: 100%
        text-transform: uppercase
        font-size: 16px
        font-weight: 700
        line-height: 1.4
        color: #1F1F1F
        background: #FFC600
        border-radius: 5px
        transition: background .2s linear
        &:hover
          background: #997a08
    .footer__map
      font-weight: 700
      line-height: 1
      font-size: 16px
      &__title
        margin-bottom: 30px
      &__item
        margin-bottom: 10px
      &__item a
        color: #FAFAFA
        font-size: 12px
        line-height: 1
        font-weight: normal
        padding-left: 15px
      &__item:last-child
        margin-bottom: 60px
    .footer__social
      display: flex
      border-top: 2px solid #FAFAFA
      &__item
        display: flex
        justify-content: center
        align-items: center
        margin-top: 10px
        margin-right: 15px
        border-radius: 50%
        height: 30px
        width: 30px
        background: #FAFAFA
        transition: background .2s linear
        &:hover
          background: #FFC600
        &__icon
          display: block
          height: 15px
          fill: #2046B3
          transition: fill .2s linear














































